In [3]:
#IMPORTS
import pandas as pd
import tensorflow as tf

In [13]:
#GET DATA
!wget https://raw.githubusercontent.com/bbr32/nlp_proj/master/dataset_test_no_labels.csv
!wget https://raw.githubusercontent.com/bbr32/nlp_proj/master/dataset_train.csv

--2019-12-17 16:53:51--  https://raw.githubusercontent.com/bbr32/nlp_proj/master/dataset_test_no_labels.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3537628 (3.4M) [text/plain]
Saving to: ‘dataset_test_no_labels.csv.1’

dataset_test_no_lab 100%[===================>]   3.37M  --.-KB/s    in 0.06s

2019-12-17 16:53:52 (56.9 MB/s) - ‘dataset_test_no_labels.csv.1’ saved [3537628/3537628]

--2019-12-17 16:53:53--  https://raw.githubusercontent.com/bbr32/nlp_proj/master/dataset_train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 74546358 (71M) [text/plain]
Saving to: ‘dataset_train.csv’

dataset_train.csv   100%[===================>]  71.09M   230MB/s    in 0.3s

2019-12-17 16:53:54 (230 MB/s) - ‘dataset_train.csv’ saved [74546358/74546358]

In [16]:
df_train = pd.read_csv('dataset_train.csv', sep='\t')
df_train.head()

   index  ...       label
0      0  ...     neutral
1      1  ...  entailment
2      2  ...  entailment
3      3  ...  entailment
4      4  ...     neutral

[5 rows x 4 columns]

In [17]:
df_test = pd.read_csv('dataset_test_no_labels.csv', sep='\t')
df_test.head()

   index  ...                                         sentence_2
0      0  ...  A senior FFA air traffic control manager said ...
1      1  ...  Once unique experiences become personally mean...
2      2  ...  Support us to keep offering the best professio...
3      3  ...  Northern Italy was not easily given up to the ...
4      4  ...  Clinton said the agents had not told him anyth...

[5 rows x 3 columns]

In [0]:
#SENTENCE TO SEQUENCE

In [0]:
#VISUALIZE